html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-container {
  background-color: rgb(253, 253, 253);
  width: auto;
  height: 1400px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0px;
}
.header {
  background-color: white;
  width: auto;
  height: 100px;
  margin-left: 3%;
  margin-right: 3%;
  border-bottom: 1px solid black;
}
.header .logo {
  max-width: 200px;
  max-height: 99px;
  content: url(../images/logo.png);
}
